body {
	margin: 0;
	background-color: #111;
	display: grid;
	place-content: center;
	min-height: 100vh;
}

.square {
	margin: auto;
	height: 250px;
	width: 250px;
	background-color: #ccc;
	transition: all 300ms ease-in-out;
}

.square:hover {
	border-radius: 100%;
	background-color: cornflowerblue;
}
